/venv
/__pycache__
__pycache__
*.pyc

/app/__pycache__
/app/settings/__pycache__

/article/__pycache__
/article/api/__pycache__
/article/migrations/__pycache__
/article/migrations/0*

/certificate/__pycache__
/certificate/api/__pycache__
/certificate/migrations/__pycache__
/certificate/migrations/0*

/company/__pycache__
/company/api/__pycache__
/company/migrations/__pycache__
/company/migrations/0*

/detail_skill/__pycache__
/detail_skill/api/__pycache__
/detail_skill/migrations/__pycache__
/detail_skill/migrations/0*

/education/__pycache__
/education/api/__pycache__
/education/migrations/__pycache__
/education/migrations/0*

/helpers/__pycache__

/hiring_partner/__pycache__
/hiring_partner/api/__pycache__
/hiring_partner/migrations/__pycache__
/hiring_partner/migrations/0*

/portfolio/__pycache__
/portfolio/api/__pycache__
/portfolio/migrations/__pycache__
/portfolio/migrations/0*

/skill/__pycache__
/skill/api/__pycache__
/skill/migrations/__pycache__
/skill/migrations/0*

/unit/__pycache__
/unit/api/__pycache__
/unit/migrations/__pycache__
/unit/migrations/0*

/user/__pycache__
/user/api/__pycache__
/user/migrations/__pycache__
/user/migrations/0*

/video/__pycache__
/video/api/__pycache__
/video/migrations/__pycache__
/video/migrations/0*
